target
.idea
*.iml
*.im
*.ipr
*.iws
overlays
.DS_Store
.settings
*.swp
*.log
.project
.classpath
*.fmd
.cache
.vagrant
dependency-reduced-pom.xml
kube-cluster/kubernetes
apps/modifiedFabric8.json
vagrant/openshift-cluster/openshift
vagrant/openshift-cluster/openshift-sdn
